<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SmsModemClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DBConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=comportsstore.mdf;Integrated Security=True;"
 providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="duplexEndpoint" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://151.248.112.29:51030/CallbackService.svc"
        binding="wsDualHttpBinding" bindingConfiguration="duplexEndpoint"
        contract="CallbackService.ICommunicationService" name="duplexEndpoint">
        <identity>
          <servicePrincipalName value="host/WIN-A0KA32SSGJS" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <SmsModemClient.Properties.Settings>
      <setting name="hubIP" serializeAs="String">
        <value>http://25.41.201.124</value>
      </setting>
      <setting name="autoconnect" serializeAs="String">
        <value>False</value>
      </setting>
    </SmsModemClient.Properties.Settings>
  </userSettings>
</configuration>