<div class="col-md-3 sidebar">
    <table class="table-striped table-hover" style="width:100%;">
        <thead>
            <tr>
                <th id="site">Сайт</th>
                <th id="sms_left">Количество</th>
                <th id="price">Цена</th>
            </tr>
        </thead>
        <tr>
            <td id="site">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Вконтакте
                    </label>
                </div>
            </td>
            <td id="sms_left">1488 шт.</td>
            <td id="price">20р.</td>
        </tr>
        <tr>
            <td id="site">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Одноглазники
                    </label>
                </div>
            </td>
            <td id="sms_left">228 шт.</td>
            <td id="price">15р.</td>
        </tr>
        <tr>
            <td id="site">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Инстаграм
                    </label>
                </div>
            </td>
            <td id="sms_left">228 шт.</td>
            <td id="price">10р.</td>
        </tr>
    </table>
    <button type="button" class="btn btn-warning pull-right">Получить номер</button> @*Сделать отправку*@
</div>