@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>

<div id="dle-content">
    <div class="dpad">
        <h2 class="heading"><span id="news-title"><span class="masha_index masha_index1" rel="1"></span>Как пользоваться сервисом?</span></h2>
        <div class="basecont">
            <div>
                <b><span class="masha_index masha_index2" rel="2"></span>О нас.</b><br>
            </div>
            <div><span class="masha_index masha_index3" rel="3"></span>Всем привет!</div>
            <div><span class="masha_index masha_index4" rel="4"></span>Мы - сервис мгновенных смс активаций в режиме онлайн, а это означает, что с нашей помощью Вы сможете активировать любой сервис, требующий подтверждения номера. Нам, практически, не важно, в каких целях Вы используете полученный номер, главное, чтобы Вы не нарушали законы РФ.</div>
            <div>&nbsp;</div>
            <div><b><span class="masha_index masha_index5" rel="5"></span>Как пользоваться сервисом.</b></div>
            <div><span class="masha_index masha_index6" rel="6"></span>В пользовании наш сервис крайне прост, и ознакомившись с представленной инструкцией, Вы без проблем разберётесь, что к чему.</div>
            <div><span class="masha_index masha_index7" rel="7"></span>Для начала нам определиться, какой сервис Вас интересует, например я хочу зарегистрировать аккаунт на сайте Mamba. Сам процесс регистрации описывать не будем, а сразу остановимся на месте, где с нас требуют номер телефона, для подтверждения аккаунта.</div>
            <div><span class="masha_index masha_index8" rel="8"></span>Перед нами окно для ввода номера:</div>
            <div align="center"><img border="0" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;" alt="" src="http://joxi.ru/4AkEkExhKwxYmq.jpg"></div>
            <div align="center">&nbsp;&nbsp;</div>
            <div align="center"><span class="masha_index masha_index9" rel="9"></span>В сервисе пополняем баланс на нужную сумму, нажав на баланс в правом верхнем углу:<img width="757" height="390" border="0" style="margin: 0px;" alt="" src="http://joxi.ru/nAy6d6jiQPOvrZ.jpg">&nbsp;</div>
            <div align="left">&nbsp;</div>
            <div><span class="masha_index masha_index10" rel="10"></span>После того, как Вы убедились, что средства на Вашем балансе есть, мы выбираем сервис (слева, в таблице сервисов) нужный нам, а это Mamba</div>
            <div align="center"><img border="0" src="http://joxi.ru/ZrJjZjgTWjJorj.jpg" alt="" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;"></div>
            <div align="center">
                <br>
            </div>
            <div><span class="masha_index masha_index11" rel="11"></span>После того, как выбрали нужный сервис, спускаемся глазами ниже и видим кнопку "Получить номер", нажимаем её и видим такое:</div>
            <div align="center">
                <p style="text-align:center;">&nbsp;</p>
                <p style="text-align:center;"><img width="831" height="282" src="http://smsvk.net/uploads/posts/2016-01/1452753246_f9d004798b.jpg"></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p align="left"><span class="masha_index masha_index12" rel="12"></span>Получив номер, впишем его в окно, на сайте Mamba, где требовалось вписать номер и нажмём кнопку "Получить код" (всё на том же сайте Mamba). После того, как код отправили, на сервисе SmsVK.net, нажимаем зелёную галочку около надписи "Подготовка", это действие даст понять сервису, что СМС отправлено:</p>
            </div>
            <div>
                <p>&nbsp;</p>
                <p style="text-align:center;"><img src="/uploads/posts/2016-01/1452753150_034dc73f73.jpg"></p>
                <p>&nbsp;</p>
            </div>
            <div>&nbsp;</div>
            <div><span class="masha_index masha_index13" rel="13"></span>Как мы видим, слово "Подготовка" пропало, и теперь стоит статус "Жду смс". Номер доступен ровно 15 минут с момента получения, а это значит, что на получение СМС-кода у нас уйма времени. Когда СМС-ка придет на Ваш полученный номер, в поле КОД появится значение, которое необходимо ввести на сайте Mamba, для активации Вашего аккаунта. Аккаунт активирован, смска получена, инструкция окончена. </div>
            <div>&nbsp;</div>
            <div><b><span class="masha_index masha_index14" rel="14"></span>После того, как СМС получена,</b> <b>нажимайте на зелёную галочку (Код подошел)</b>, ведь если не подтвердить прием смс сообщения, то номер вернётся в систему и его сможет получить другой пользователь в ущерб Вам.</div>
            <div>
                <br>
            </div>
            <div>
                <p style="text-align:center;"><!--TBegin:http://smsvk.net/uploads/posts/2016-06/1464934181_f745f0509b.jpg|--><a href="http://smsvk.net/uploads/posts/2016-06/1464934181_f745f0509b.jpg" rel="highslide" class="highslide"><img src="/uploads/posts/2016-06/thumbs/1464934181_f745f0509b.jpg" alt="" title=""></a><!--TEnd--></p>
                <p>&nbsp;</p>
            </div>
            <div><span class="masha_index masha_index15" rel="15"></span>Бывает иногда такое, что сайт, на котором Вы регистрируетесь выдает ошибку и пишет, что номер уже был использован. В данном случае, просто помечайте номер, полученный в SmsVK.net как использованный (на картинке стрелка направлена на нужную кнопку, которая банит полученный номер), после чего, получайте новый номер и пробуйте регистрироваться заного.</div>
            <div>
                <p style="text-align:center;"><img width="448" height="200" src="http://smsvk.net/uploads/posts/2016-01/1453677185_e171af205a.jpg"></p>
                <p>&nbsp;</p>
            </div>
            <div>&nbsp;</div>
            <div><span class="masha_index masha_index16" rel="16"></span>Если остались вопросы, пишите в <a title="Тут Вам оперативно помогут решить вопросы" target="_blank" href="">ТИКЕТ-систему.</a></div>
            <div>&nbsp;</div>
            <div> </div>
            <div><span class="masha_index masha_index17" rel="17"></span>p.s Средства за не полученный код возвращаются.</div>
            <div>
                <span class="masha_index masha_index18" rel="18"></span>p.s.s Если код не пришел, а номер пропал, просто получите новый номер и попробуйте принять СМС на него, такое иногда случается (по истечению пятнадцати минут)<br>
            </div>
            <br clear="all">
            <div class="storenumber"></div>
        </div>
    </div>
</div>