
@{
    ViewBag.Title = "Главная";
}
<h1 class="text-center">@Request.Url.Host</h1>
<h3 class="text-center">Сервис одноразовых смс-активаций</h3>
<div class="col-md-9">
    <div> <span class="bold-text">@Request.Url.Host</span> - это автоматизированный интерфейс для приема SMS сообщений с сайтов, которые требуют получения подтверждающего SMS. Мы используем свои номера и можем принять любые Ваши сообщения.</div>
    <br />
    <div>Благодаря нашему сервису Вы сможете проводить активации независимо от того есть ли "активатор" онлайн или нет - система работает в автоматическом режиме без участия человека (исключая замену сим карт в оборудовании).</div>
    <br />
    <div>Данная услуга имеет спрос во многих сферах интернет-деятельности. Чаще всего услуга активации по смс используются для регистрации в социальных сетях, сайтах знакомств, покерных сайтах – везде, где может потребоваться подтверждение по смс. Цели могут быть различными от простого желания не "светить" свой личный номер до увеличения просмотров, переходов и т.д. Единственное ограничение - запрещается применять этот сервис в любых противоправных целях.</div>
    <br />
    <div>Запрос номеров для активации доступен только при наличии средств на балансе, время использования средств на счету не ограничено. Если вам не понравится сервис, то мы вернем неиспользованные вами средства обратно.</div>
</div>